:root {
  --main-txt: #ff64b4;
}
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #3e3d53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* navigation bar */
header {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0;
  color: var(--main-txt);
  text-transform: uppercase;
}

nav ul li{
  display: inline-block;
  width: 150px;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  border-bottom-style: solid;
  border-bottom-color: var(--main-txt);
}

.name {
  font-size: 30px;
  color: var(--main-txt);
  text-transform: uppercase;
}

.hero-banner {
  display: flex;
  position: relative;
  background-image: url('../images/02-hero-bg.jpg');
  background-position: center;
  height: 900px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 5px 0px;
}

.sub {
  align-items: center;
  color: var(--main-txt);
  text-transform: uppercase;
}

.page-section p {
  color: white;
}

.page-section a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-bottom-style: solid;
  border-bottom-color: var(--main-txt);
}

.aboutme {
  display: flex;
}

.aboutme-txt {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main content grid */

.grid-container {
  display: grid;
  margin: 0px 10px;
  grid-auto-rows: 400px 400px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "horiseon horiseon"
  "led calc"
  "puzzle surf" 
  ;
}

.gridArea {
  display: grid;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
}

#horiseon {
  background-image: url('../images/horiseon.png');
  grid-area: horiseon;
}

#led {
  background-image: url('../images/02-portfolio-1.jpg');
  grid-area: led;
}

#calc {
  background-image: url('../images/02-portfolio-2.jpg');
  grid-area: calc;
}

#puzzle {
  background-image: url('../images/02-portfolio-3.jpg');
  grid-area: puzzle;
}

#surf {
  background-image: url('../images/02-portfolio-4.jpg');
  grid-area: surf;
}